[submodule "media-stack"]
	path = media-stack
	url = https://github.com/151henry151/media-stack.git
[submodule "www/html/hromp.com/mercator"]
	path = www/html/hromp.com/mercator
	url = https://github.com/151henry151/mercator-day-night.git
[submodule "www/html/hromp.com/solar-system-calculator"]
	path = www/html/hromp.com/solar-system-calculator
	url = https://github.com/151henry151/solar-system-calculator.git
[submodule "www/html/hromp.com/distance-time-calc"]
	path = www/html/hromp.com/distance-time-calc
	url = https://github.com/151henry151/distance-time-calc.git
[submodule "www/html/hromp.com/weatherpage"]
	path = www/html/hromp.com/weatherpage
	url = https://github.com/151henry151/weatherpage.git
[submodule "domains/com/hromp.com/public_html/weatherpage"]
	path = domains/com/hromp.com/public_html/weatherpage
	url = https://github.com/151henry151/weatherpage.git
[submodule "domains/com/hromp.com/public_html/pipedream"]
	path = domains/com/hromp.com/public_html/pipedream
	url = https://github.com/151henry151/pipedream.git
[submodule "domains/com/hromp.com/public_html/ipa-chart"]
	path = domains/com/hromp.com/public_html/ipa-chart
	url = https://github.com/151henry151/ipa-chart.git
[submodule "domains/com/chordispeak.com/public_html/chordispeak"]
	path = domains/com/chordispeak.com/public_html/chordispeak
	url = https://github.com/151henry151/chordispeak.git
[submodule "doodlr/app"]
	path = doodlr/app
	url = https://github.com/151henry151/doodlr.git
